@using Skill_CodeFirstEntity.Models.MyClass
@model List<Skill>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutNavBar.cshtml";
}

<style>
    table, th, td 
    {
        border: 1px solid black;
        text-align:center;
    }
    a
    {
        color:cadetblue
    }
</style>

<table style="width:80%">
    <tr>
        <th>&nbsp; Skill ID</th>
        <th>&nbsp; Skill Name</th>
        <th>&nbsp; Percentage Value</th>
        <th>&nbsp; Skill Delete</th>
        <th>&nbsp; Skill Update</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>&nbsp; @item.SkillId</td>
            <td>&nbsp; @item.SkillName</td>
            <td>&nbsp; @item.PercentageValue</td>
            <td><a href="/Admin/SkillDelete/@item.SkillId" class="btn btn-danger">Delete</a></td>
            <td><a href="/Admin/SkillUpdate/@item.SkillId" class="btn btn-success">Update</a></td>
        </tr>
    }
</table>

