@model Skill_CodeFirstEntity.Models.MyClass.Skill
@{
    ViewBag.Title = "SkillUpdate";
    Layout = "~/Views/Shared/_LayoutNavBar.cshtml";
}

<style>
    div 
    {
        margin-bottom: 20px
    }
</style>

<form class="form-group" method="post">
    <div>
        <label>Skill Description</label>
        @Html.TextBoxFor(x => x.SkillName, new { @class = "form-control" })
    </div>
    <div>
        <label>Skill Value</label>
        @Html.TextBoxFor(x => x.PercentageValue, new { @class = "form-control" })
    </div>
    <div>
        <input type="hidden" id="SkillId" name="SkillId" value="@Model.SkillId" />
        <button class="btn btn-warning">Update</button>
    </div>
</form>

